# macOS
.DS_Store
.AppleDouble
.LSOverride

# Glyphs backups
*.glyphs~
*.glyphx
sources/Lavasciuga-polished-bk180626.glyphs

# Font build output (keep only final fonts in /fonts)
instance_ufo/
master_ufo/
*.pyc
__pycache__/

# fontmake / fonttools temp
*.vfb.bak
*.otf.bak

# Environment
.venv/
venv/
specimen/*
!specimen/_site/


.stylelintignore
